@use './var.scss';
body {
    box-sizing: border-box;
    margin: 0;
}
header{
    position: absolute;
    z-index: 1;
    top: 10vh; /* utilisez 'top' à la place de 'margin-top' pour placer l'élément */
    left: 0; /* assurez-vous que l'élément commence à partir du bord gauche */
    right: 0; /* assurez-vous que l'élément se termine au bord droit */
    color: white;
    height: 18vh;
    display: flex;
    justify-content: space-evenly;
    background-color: var.$color2;
    width: 100%;
    overflow: hidden;
    img{
        
    }
}
main {
    display: grid;
    grid-template-columns: 42% 58%;
    .body-left {
        padding: 20em 2em 0 2em;
        background-color: var.$color1;
        color: white;
    }
    .body-right {
        padding: 20em 2em 0 2em;
        background-color: white;
    }
}