@use './var.scss';
body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
h2 {
    color: var.$color2;
    text-transform: uppercase;
}
h3 {
    text-transform: uppercase;
}
a {
    color: white;
}
div{
    margin-bottom: 1rem;
}
button{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    background: white;
    text-transform: uppercase;
    @media print {
        display: none;
    }
    @media (max-width: 800px) {
        margin-top: 3rem;
        
    }
    &:hover{
      cursor: pointer;
    }
}
header{
    position: absolute;
    z-index: 1;
    top: 5vh;
    left: 0; 
    right: 0; 
    color: white;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    background-color: var.$color2;
    width: 100%;
    overflow: hidden;
    .tavu{
        text-align: center;
        font-size: 1.4em;
        p{
            color: var.$color1;
            font-weight: bold;
        }
    }
}
main {
    display: grid;
    grid-template-columns: 42% 58%;
    .body-left {
        padding: 20em 4em 0 4em;
        background-color: var.$color1;
        color: white;
        .compétences {
            &-list {
                display: flex;
                justify-content: space-evenly;
                &-each{
                    p{
                        text-transform: uppercase;
                        text-decoration: underline;
                    }
                    ul{
                        padding-left: 0;
                        li{
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
    .body-right {
        padding: 20em 4em 0 4em;
        background-color: white;
    }
}


@media (max-width: 1205px) {
    font-size: 0.8em;
        div{
        margin-bottom: 0;
    }
    header {
        height: 22vh;
    }
}
@media (max-width: 1025px) {
    font-size: 0.8em;
    header {
        height: 17vh;
        top: 0vh;
    }
    main{
        .body-left {
            padding: 14em 1.5em;
        }
        .body-right {
            padding: 14em 1.5em;
        }
    }
}
@media (max-width: 873px) {
    font-size: 0.7em;
    header {
        height: 13vh;
    }
    main{
        .body-left {
            padding: 14em 1.5em;
        }
        .body-right {
            padding: 14em 1.5em;
        }
    }
}
@media (max-width: 800px) {
    font-size: 0.7em;
    main{
        .body-left {
            padding: 12em 1.5em;
            .compétences{
                &-list {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-template-areas: 
                    "primo deuxio"
                    "tertio quartio";
                    margin-left: 1rem;
                    .primo{
                        grid-area: primo;
                    }
                    .deuxio{
                        grid-area: deuxio;
                    }
                    .tertio{
                        grid-area: tertio;
                    }
                }
            }
        }
        .body-right {
            padding: 12em 1.5em;
        }
    }
}
@media (max-width: 540px) {
    header{
        .tavu{
            p{
                font-size: 0.8em;
            }
        }
    }
    main{
        .body-left {
            padding: 12em 1.5em;
            .soft-skills{
                padding-inline-start: 1rem;
            }
            .compétences{
                &-list {
                    display: block;
                    margin-left: 1rem;
                }
            }
        }
    }
}
@media (max-width: 450px) {
    font-size: 0.6em;
    main{
        .body-left {
            padding: 12em 1.5em;
        }
        .body-right {
            padding: 12em 1.5em;
        }
        a{
            font-size: 0.8em;
        }
    }
}

}